{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n grp_tags log %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
{{ block.super }}
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
<ul class="grp-horizontal-list">
  <li>{% trans "Home" %}</li>
</ul>
{% endblock %}
{% block content_title %}
{% if title %}
<header>
  <h1>{{ title }}</h1>
</header>
{% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}


<div class="album py-5">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-4">
        <div class="card-icon">
          <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100"
              class="teaser-icon-bg">
              <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
            </svg></div>
          <div class="card-icon-img"><i class="fa fa-users"></i></div>
        </div>
        <div class="card-header">
          <h2>Mieter</h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="/admin/person/tenant/">Liste aller Mieter</a></li>

            <li><a href="/admin/person/mitglieder/">Liste der Mitglieder</a></li>
            <!--li>&nbsp;</li-->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-4">
        <div class="card-icon">
          <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100"
              class="teaser-icon-bg">
              <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
            </svg></div>
          <div class="card-icon-img"><i class="fa fa-exclamation-circle"></i></div>
        </div>
        <div class="card-header">
          <h2>Schäden</h2>
        </div>
        <div class="card-body">
          <ul>
            <!--li><a href="/admin//defect/defectrating/">Bewertung Mieterschäden</a></li-->
            <li><a href="/admin/defect/defect/">Gemeldete Mieterschäden</a></li>
            <li><a href="/admin/defect/room/">Räume</a></li>
            <li><a href="/admin/defect/defectreason/">Schadenskategorie</a></li>
            <li><a href="/admin/defect/defecttype/">Schadenstyp</a></li>
            <!--li>&nbsp;</li-->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-4">
        <div class="card-icon">
          <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100"
              class="teaser-icon-bg">
              <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
            </svg></div>
          <div class="card-icon-img"><i class="fa fa-file-alt"></i></div>
        </div>
        <div class="card-header">
          <h2>Formulare</h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="/admin/issue/requestformular/">Angeforderte Formulare</a></li>
            <li><a href="/admin/issue/formularpdf/">Formulare PDF</a></li>
            <li><a href="/admin/issue/formularpdfanswer/">Formulare Antworten</a></li>
            <li><a href="/admin/nl/issueslistpdfdata/">Formularhistorie 2-Faktor-Authentifizierung</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-4">
        <div class="card-icon">
          <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100"
              class="teaser-icon-bg">
              <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
            </svg></div>
          <div class="card-icon-img"><i class="far fa-newspaper"></i></div>
        </div>
        <div class="card-header">
          <h2>Nachrichten</h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="/admin/messaging/bulletin/">Neuigkeiten</a></li>
            <li><a href="/admin/messaging/pushnotification/">Push-Nachrichten</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-4">
        <div class="card-icon">
          <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100"
              class="teaser-icon-bg">
              <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
            </svg></div>
          <div class="card-icon-img"><i class="fas fa-asterisk"></i></div>
        </div>
        <div class="card-header">
          <h2>Sonstiges</h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="/admin/nl/servicecenterdata/">Service-Center</a></li>
            <!--li><a href="/admin/person/privacy/">Datenschutz</a></li-->
            <li><a href="/admin/analytics/reportbug/">Report Bug</a></li>
            <li><a href="/admin/content/marketplace/">Angebote</a></li>
            <li><a href="/admin/property/objectlist/">Straßenliste</a></li>
            <li><a href="/admin/messaging/quartersearch/">Städteliste</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-4">
        <div class="card-icon">
          <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100"
              class="teaser-icon-bg">
              <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
            </svg></div>
          <div class="card-icon-img"><i class="fas fa-question-circle "></i></div>
        </div>
        <div class="card-header">
          <h2>Umfragen</h2>
        </div>
        <div class="card-body">
          <ul>
            <li><a href="/admin/survey/survey/">Umfragen</a></li>
            <li><a href="/admin/survey/surveyquestion/">Umfragen Fragen</a></li>
            <li><a href="/admin/survey/surveyanswerstext/">Umfragen Antworten</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row card-inactive">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-4">
      <div class="card-icon">
        <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100" class="teaser-icon-bg">
            <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
          </svg></div>
        <div class="card-icon-img"><i class="fa fa-code-branch"></i></div>
      </div>
      <div class="card-header">
        <h2>Versionierung</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Deaktiviertes Modul</p>
      </div>
      <div class="card-body card-enable">
        <p><a class="btn btn-block btn-primary" href="mailto:support@dit-digital.de?subject=Versionierung%20Aktivierung"><i
              class="fa fa-plus-circle"></i> Aktivieren</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-4">
      <div class="card-icon inactive">
        <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100" class="teaser-icon-bg">
            <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
          </svg></div>
        <div class="card-icon-img"><i class="fa fa-trophy"></i></div>
      </div>
      <div class="card-header">
        <h2>Gewinnspiele</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Deaktiviertes Modul</p>
      </div>
      <div class="card-body card-enable">
        <p><a class="btn btn-block btn-primary"
            href="mailto:support@dit-digital.de?subject=Gewinnspiel%20Aktivierung"><i class="fa fa-plus-circle"></i>
            Aktivieren</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-4">
      <div class="card-icon inactive">
        <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100" class="teaser-icon-bg">
            <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
          </svg></div>
        <div class="card-icon-img"><i class="fas fa-chart-pie"></i></div>
      </div>
      <div class="card-header">
        <h2>Reporting</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Deaktiviertes Modul</p>
      </div>
      <div class="card-body card-enable">
        <p><a class="btn btn-block btn-primary" href="mailto:support@dit-digital.de?subject=Reporting%20Aktivierung"><i
              class="fa fa-plus-circle"></i>
            Aktivieren</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-4">
      <div class="card-icon inactive">
        <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100" class="teaser-icon-bg">
            <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
          </svg></div>
        <div class="card-icon-img"><i class="fas fa-bicycle"></i></div>
      </div>
      <div class="card-header">
        <h2>Service und Mobilität</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Deaktiviertes Modul</p>
      </div>
      <div class="card-body card-enable">
        <p><a class="btn btn-block btn-primary"
            href="mailto:support@dit-digital.de?subject=Service%20und%20Mobilität%20Aktivierung"><i
              class="fa fa-plus-circle"></i> Aktivieren</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-4">
      <div class="card-icon inactive">
        <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100" class="teaser-icon-bg">
            <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
          </svg></div>
        <div class="card-icon-img"><i class="fas fa-envelope-open-text"></i></div>
      </div>
      <div class="card-header">
        <h2>Nachrichten-Zentrale</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Deaktiviertes Modul</p>
      </div>
      <div class="card-body card-enable">
        <p><a class="btn btn-block btn-primary"
            href="mailto:support@dit-digital.de?subject=Nachrichten-Zentrale%20Aktivierung"><i
              class="fa fa-plus-circle"></i> Aktivieren</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-4">
      <div class="card-icon inactive">
        <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100" class="teaser-icon-bg">
            <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
          </svg></div>
        <div class="card-icon-img"><i class="fas fa-home"></i></div>
      </div>
      <div class="card-header">
        <h2>Buchungstool</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Deaktiviertes Modul</p>
      </div>
      <div class="card-body card-enable">
        <p><a class="btn btn-block btn-primary"
            href="mailto:support@dit-digital.de?subject=Buchungstool%20Aktivierung"><i
              class="fa fa-plus-circle"></i> Aktivieren</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-4">
      <div class="card-icon inactive">
        <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100" class="teaser-icon-bg">
            <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
          </svg></div>
        <div class="card-icon-img"><i class="fas fa-boxes"></i></div>
      </div>
      <div class="card-header">
        <h2>Digitale<br>Paketbox</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Deaktiviertes Modul</p>
      </div>
      <div class="card-body card-enable">
        <p><a class="btn btn-block btn-primary"
            href="mailto:support@dit-digital.de?subject=Digitale%20Paketbox%20Aktivierung"><i
              class="fa fa-plus-circle"></i> Aktivieren</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-4">
      <div class="card-icon inactive">
        <div class="card-icon-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 100" class="teaser-icon-bg">
            <polygon points="86.6 75 43.3 100 0 75 0 25 43.3 0 86.6 25 86.6 75"></polygon>
          </svg></div>
        <div class="card-icon-img"><i class="fas fa-bolt"></i></div>
      </div>
      <div class="card-header">
        <h2>Nebenkosten<br>Smart-Metering</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Deaktiviertes Modul</p>
      </div>
      <div class="card-body card-enable">
        <p><a class="btn btn-block btn-primary"
            href="mailto:support@dit-digital.de?subject=Nebenkosten%20Smart-Metering%20Aktivierung"><i
              class="fa fa-plus-circle"></i> Aktivieren</a></p>
      </div>
    </div>
  </div>
</div>



<!--div class="g-d-c">
        <div class="g-d-12 g-d-f">
            {% for app in app_list %}
                <div class="grp-module" id="app_{{ app.name|lower }}">
                    <h2><a href="{{ app.app_url }}" class="grp-section">{% trans app.name %}</a></h2>
                    {% for model in app.models %}
                        <div class="grp-row" id="model-{{ model.object_name|lower }}">
                            {% if model.admin_url %}
                                <a href="{{ model.admin_url }}"><strong>{{ model.name }}</strong></a>
                            {% else %}
                                <strong>{{ model.name }}</strong>
                            {% endif %}
                            {% if model.add_url %}
                                <ul class="grp-actions">
                                    {% if model.add_url %}
                                        <li class="grp-icon grp-add-link">
                                            <a href="{{ model.add_url }}" title="{% trans "Add" %}">&nbsp;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% empty %}
                <p>{% trans "You don´t have permission to edit anything." %}</p>
            {% endfor %}
            {% block custom_views %}
                {% if custom_list %}
                    <div class="grp-module" id="custom_views">
                        <h2>{% trans 'Custom Views' %}</h2>
                        {% for path, name in custom_list %}
                            <div class="grp-row">
                                <a href="{{ path }}"><strong>{{ name }}</strong></a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

    </div-->
{% endblock %}
