{% extends "admin/change_list.html" %}

{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block object-tools %}



<div class="editbuttons_wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

    {% block object-tools-items %}
      {% if has_add_permission %}
        {{ block.super }}
      {% endif %}
    {% endblock %}
      </div>
    </div>
  </div>
</div>



{% endblock %}
